{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center min-h-[60vh] px-4">
    <div class="card w-full max-w-sm px-4 bg-base-100 shadow-xl border border-base-300">
        <div class="card-body p-8">
            <h2 class="card-title justify-center text-3xl mb-6 heritage-font text-gula-melaka">New Account</h2>
            <form method="POST" class="flex flex-col gap-5">
                <div class="form-control">
                    <label class="label font-bold text-xs uppercase text-gray-500 tracking-wider">Choose
                        Username</label>
                    <input type="text" name="username" class="input input-bordered w-full" required />
                </div>
                <div class="form-control">
                    <label class="label font-bold text-xs uppercase text-gray-500 tracking-wider">Choose
                        Password</label>
                    <input type="password" name="password" class="input input-bordered w-full" required />
                </div>
                <button type="submit" class="btn btn-primary mt-4 w-full text-white font-bold tracking-wider">SIGN
                    UP</button>
            </form>
            <div class="text-center mt-6">
                <a href="/login"
                    class="link link-hover text-xs uppercase font-bold text-gray-500 tracking-wider">Already have an
                    account? Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}